In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df_accounts = pd.read_csv('Dataset/Accounts.csv')
df_acc_props = pd.read_csv('Dataset/Accounts_properties.csv')
df_deals_to_props = pd.read_csv('Dataset/Deals_to_Properties.csv')
df_opportunities = pd.read_csv('Dataset/Opportunities.csv')
df_props = pd.read_csv('Dataset/Properties.csv')
df_test = pd.read_csv('Dataset/Test_Data.csv')

In [3]:
arr = df_accounts.investor_type.values
arr2 = set()
for val in arr:
    val = str(val)
    tp = val.split("/")
    for val2 in tp:
        tp2 = val2.split("\\")
        for val3 in tp2:
            x = val3.replace(" ","")
            x = x.lower()
            arr2.add(x)

for col in arr2:
    df_accounts[col] = 0

for i,val in enumerate(df_accounts.investor_type):
    val = df_accounts.iloc[i]["investor_type"]
    val = str(val)
    tp = val.split("/")
    for val2 in tp:
        tp2 = val2.split("\\")
        for val3 in tp2:
            x = val3.replace(" ","")
            x = x.lower()
            df_accounts.set_value(i,x,1)

df_accounts.drop('investor_type',axis=1,inplace=True)

for col in df_accounts.columns:
    if df_accounts[col].dtype.name == "bool":
        df_accounts[col] = pd.Categorical(df_accounts[col])
        df_accounts[col] = df_accounts[col].cat.codes

df_accounts.to_csv('Accounts_1.csv',index=False)

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [4]:
df_props.drop("id_deals",axis=1,inplace=True)

In [5]:
dict_data = {"id_props":df_acc_props["id_props"].unique()}
df = pd.DataFrame().from_dict(dict_data)

In [6]:
x = pd.merge(df,df_props,on="id_props")

In [7]:
x.to_csv("Properties_sold.csv",index=False)

In [8]:
df_props_values = df_props.id_props.unique()
x_values = x.id_props.unique()

In [9]:
df = [i for i in df_props_values if i not in x_values]

In [10]:
dict_data = {"id_props":np.unique(df)}
df = pd.DataFrame().from_dict(dict_data)

In [11]:
x = pd.merge(df,df_props,on="id_props")

In [12]:
x.to_csv("Properties_Not_sold.csv",index=False)

In [13]:
df_accounts = pd.read_csv("Accounts_1.csv")
df_props = pd.read_csv("Properties_sold.csv")
df_mapping = pd.read_csv("Dataset/Accounts_properties.csv")
df_train = pd.merge(pd.merge(df_mapping,df_props,on=["id_props"]),df_accounts,on="id_accs")

In [14]:
cols_to_drop = ["id","id_deals"]

In [15]:
df_train.drop(cols_to_drop,axis=1,inplace=True)

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20865 entries, 0 to 20864
Data columns (total 66 columns):
id_accs                          20865 non-null object
id_props                         20865 non-null object
building_status                  13004 non-null object
building_tax_expenses            12454 non-null object
city                             20865 non-null object
class                            13965 non-null object
county                           20865 non-null object
sale_status                      20805 non-null object
portfolio                        20865 non-null bool
market                           20863 non-null object
num_buildings                    13695 non-null float64
num_floors                       16902 non-null float64
num_parking_spaces               10276 non-null float64
occupancy_rate                   17590 non-null float64
price_per_sq_ft                  15547 non-null float64
price_per_unit                   7433 non-null float64
property_type_1                  20671 non-null object
region__c                        20859 non-null object
sale_amount__c                   15974 non-null float64
sale_date__c                     16308 non-null object
size_acres                       17127 non-null float64
size_sf                          19726 non-null float64
size_units                       9493 non-null float64
year_built                       19608 non-null float64
active_deals                     20865 non-null int64
activity_count                   20865 non-null int64
buyer_book                       20865 non-null int64
servicing_contract               20865 non-null int64
cmbs                             20865 non-null int64
consultant                       20865 non-null int64
correspondent                    20865 non-null int64
foreign                          20865 non-null int64
master_servicer                  20865 non-null int64
lender_book                      20865 non-null int64
loan_sales_book                  20865 non-null int64
loan_servicing                   20865 non-null int64
num_deals_as_client              20865 non-null int64
num_deals_as_investor            20865 non-null int64
number_of_properties             20865 non-null int64
number_of_related_deals          20865 non-null int64
number_of_related_properties     20865 non-null int64
number_of_won_deals_as_client    20865 non-null int64
unknown                          20865 non-null int64
privateinvestor                  20865 non-null int64
specialtyfinancecompany          20865 non-null int64
thrift                           20865 non-null int64
conduit                          20865 non-null int64
endowment                        20865 non-null int64
tenantsincommon                  20865 non-null int64
advisor                          20865 non-null int64
sovereignwealthfund              20865 non-null int64
propertyowner                    20865 non-null int64
pensionfund                      20865 non-null int64
bank                             20865 non-null int64
nan                              20865 non-null int64
developer                        20865 non-null int64
user                             20865 non-null int64
reit                             20865 non-null int64
agency                           20865 non-null int64
credit                           20865 non-null int64
propertylender                   20865 non-null int64
equityfund                       20865 non-null int64
account                          20865 non-null int64
corporateinvestor                20865 non-null int64
specialservicer                  20865 non-null int64
lifeinsurancecompany             20865 non-null int64
dtypes: bool(1), float64(11), int64(42), object(12)
memory usage: 10.5+ MB

In [17]:
# for col in df_train.columns:
#     if col != "id_accs" and df_train[col].dtype.name == "object":
#         print(col)
#         print(df_train[col].unique())

In [18]:
col_to_cat = ['building_status','city','class','county','sale_status','market','property_type_1','region__c','portfolio']
col_to_date = ["sale_date__c"]

In [19]:
# tp = df_train.building_tax_expenses.unique()

# str_tp = ""
# for val in tp:
#     str_tp = str_tp+str(val)

# with open("temp.txt","w+") as f:
#     f.write(str_tp)
#     f.close()

In [20]:
for col in col_to_cat:
    df_train[col] = pd.Categorical(df_train[col])
    df_train[col] = df_train[col].cat.codes

In [21]:
df_train.sale_date__c = pd.to_datetime(df_train.sale_date__c)

In [22]:
df_train["sale_date__c_date"] = df_train.sale_date__c.dt.day
df_train["sale_date__c_month"] = df_train.sale_date__c.dt.month
df_train["sale_date__c_year"] = df_train.sale_date__c.dt.year

In [23]:
df_train.drop("sale_date__c",axis=1,inplace=True)

In [24]:
df_train["Tax"] = 0
df_train["Ops"] = 0
df_train["Est Ops"] = 0
df_train["Est Tax"] = 0
df_train["Combined Est Tax/Ops"] = 0
# df_train["Tax_year"] = np.nan
# df_train["Ops_year"] = np.nan
# df_train["Est Ops_year"] = np.nan
# df_train["Est Tax_year"] = np.nan
# df_train["Combined Est Tax/Ops_year"] = np.nan
df_train["Unit"] = 0
df_train["sf"] = 0

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20865 entries, 0 to 20864
Data columns (total 75 columns):
id_accs                          20865 non-null object
id_props                         20865 non-null object
building_status                  20865 non-null int8
building_tax_expenses            12454 non-null object
city                             20865 non-null int16
class                            20865 non-null int8
county                           20865 non-null int16
sale_status                      20865 non-null int8
portfolio                        20865 non-null int8
market                           20865 non-null int16
num_buildings                    13695 non-null float64
num_floors                       16902 non-null float64
num_parking_spaces               10276 non-null float64
occupancy_rate                   17590 non-null float64
price_per_sq_ft                  15547 non-null float64
price_per_unit                   7433 non-null float64
property_type_1                  20865 non-null int8
region__c                        20865 non-null int8
sale_amount__c                   15974 non-null float64
size_acres                       17127 non-null float64
size_sf                          19726 non-null float64
size_units                       9493 non-null float64
year_built                       19608 non-null float64
active_deals                     20865 non-null int64
activity_count                   20865 non-null int64
buyer_book                       20865 non-null int64
servicing_contract               20865 non-null int64
cmbs                             20865 non-null int64
consultant                       20865 non-null int64
correspondent                    20865 non-null int64
foreign                          20865 non-null int64
master_servicer                  20865 non-null int64
lender_book                      20865 non-null int64
loan_sales_book                  20865 non-null int64
loan_servicing                   20865 non-null int64
num_deals_as_client              20865 non-null int64
num_deals_as_investor            20865 non-null int64
number_of_properties             20865 non-null int64
number_of_related_deals          20865 non-null int64
number_of_related_properties     20865 non-null int64
number_of_won_deals_as_client    20865 non-null int64
unknown                          20865 non-null int64
privateinvestor                  20865 non-null int64
specialtyfinancecompany          20865 non-null int64
thrift                           20865 non-null int64
conduit                          20865 non-null int64
endowment                        20865 non-null int64
tenantsincommon                  20865 non-null int64
advisor                          20865 non-null int64
sovereignwealthfund              20865 non-null int64
propertyowner                    20865 non-null int64
pensionfund                      20865 non-null int64
bank                             20865 non-null int64
nan                              20865 non-null int64
developer                        20865 non-null int64
user                             20865 non-null int64
reit                             20865 non-null int64
agency                           20865 non-null int64
credit                           20865 non-null int64
propertylender                   20865 non-null int64
equityfund                       20865 non-null int64
account                          20865 non-null int64
corporateinvestor                20865 non-null int64
specialservicer                  20865 non-null int64
lifeinsurancecompany             20865 non-null int64
sale_date__c_date                16308 non-null float64
sale_date__c_month               16308 non-null float64
sale_date__c_year                16308 non-null float64
Tax                              20865 non-null int64
Ops                              20865 non-null int64
Est Ops                          20865 non-null int64
Est Tax                          20865 non-null int64
Combined Est Tax/Ops             20865 non-null int64
Unit                             20865 non-null int64
sf                               20865 non-null int64
dtypes: float64(14), int16(3), int64(49), int8(6), object(3)
memory usage: 10.9+ MB

In [26]:
def parseBuildingTaxExpenses(expense,i):
    new_exp = ""
    expense = str(expense)
    expense = expense.strip()
    expense = expense.replace(',',';')
    expense = expense.replace('$','')
    x = expense.split(';')
    data_dict = {}
    if x[0] != "nan":
        for val in x:
            y = val.split('@')
            y1 = y[0].strip().split(' ')
            y2 = y[1].strip().split('/')
            year = int(y1[0].strip())
            if y2[-1].strip().lower() == "unit" or y2[-1].strip().lower() == "sf":
                unit = y2[-1].strip()
            else:
                unit = ""
            price = float(y2[0].strip())
            y1 = y1[1:]
            tax = " ".join(y1)
            data_dict[tax] = [price,year,unit]
        x_unit = "unit"
        for key in data_dict.keys():
            if data_dict[key][2] != "":
                x_unit = data_dict[key][2]
        for key in data_dict.keys():
            data_dict[key][2] = x_unit
        return data_dict
    else:
        return None

In [27]:
for i,row in enumerate(df_train.iterrows()):
    data_dict = parseBuildingTaxExpenses(row[1].building_tax_expenses,i)
    if data_dict != None:
        for key in data_dict.keys():
            value = data_dict[key]
            df_train.at[i,key] = value[0]
            df_train.at[i,key+"_year"] = value[1]
            df_train.at[i,value[2]] = 1

In [28]:
df_train.drop("building_tax_expenses",axis=1,inplace=True)

In [29]:
valid_str = ""
for col in df_train.columns:
    valid_str = valid_str + " " + col
with open("temp.txt","w") as f:
    f.write(valid_str)
    f.close()

In [30]:
df_train.head()

,id_accs,id_props,building_status,city,class,county,sale_status,portfolio,market,num_buildings,...,Unit,sf,Tax_year,Combined Est Tax/Ops_year,Ops_year,Est Tax_year,Est Ops_year,Combined Tax/Ops,Combined Tax/Ops_year,unit
0,0012A000023XlCCQA0,a0I2A00000XQKwXUAX,-1,1252,-1,436,0,0,158,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0012A000023XmOxQAK,a0I2A00000XQKwXUAX,-1,1252,-1,436,0,0,158,1.0,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0012A000023XmOxQAK,a0I2A00000XvUEwUAN,1,1453,-1,142,0,0,57,1.0,...,0,1,2012.0,2007.0,NaN,NaN,NaN,NaN,NaN,NaN
3,0012A000023XmOxQAK,a0I2A00000XQHk4UAH,1,976,-1,590,0,0,14,6.0,...,0,1,2016.0,NaN,2014.0,NaN,NaN,NaN,NaN,NaN
4,0012A000023XmOxQAK,a0I2A00000XQLUWUA5,1,656,-1,579,0,0,57,2.0,...,0,1,2010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20865 entries, 0 to 20864
Data columns (total 82 columns):
id_accs                          20865 non-null object
id_props                         20865 non-null object
building_status                  20865 non-null int8
city                             20865 non-null int16
class                            20865 non-null int8
county                           20865 non-null int16
sale_status                      20865 non-null int8
portfolio                        20865 non-null int8
market                           20865 non-null int16
num_buildings                    13695 non-null float64
num_floors                       16902 non-null float64
num_parking_spaces               10276 non-null float64
occupancy_rate                   17590 non-null float64
price_per_sq_ft                  15547 non-null float64
price_per_unit                   7433 non-null float64
property_type_1                  20865 non-null int8
region__c                        20865 non-null int8
sale_amount__c                   15974 non-null float64
size_acres                       17127 non-null float64
size_sf                          19726 non-null float64
size_units                       9493 non-null float64
year_built                       19608 non-null float64
active_deals                     20865 non-null int64
activity_count                   20865 non-null int64
buyer_book                       20865 non-null int64
servicing_contract               20865 non-null int64
cmbs                             20865 non-null int64
consultant                       20865 non-null int64
correspondent                    20865 non-null int64
foreign                          20865 non-null int64
master_servicer                  20865 non-null int64
lender_book                      20865 non-null int64
loan_sales_book                  20865 non-null int64
loan_servicing                   20865 non-null int64
num_deals_as_client              20865 non-null int64
num_deals_as_investor            20865 non-null int64
number_of_properties             20865 non-null int64
number_of_related_deals          20865 non-null int64
number_of_related_properties     20865 non-null int64
number_of_won_deals_as_client    20865 non-null int64
unknown                          20865 non-null int64
privateinvestor                  20865 non-null int64
specialtyfinancecompany          20865 non-null int64
thrift                           20865 non-null int64
conduit                          20865 non-null int64
endowment                        20865 non-null int64
tenantsincommon                  20865 non-null int64
advisor                          20865 non-null int64
sovereignwealthfund              20865 non-null int64
propertyowner                    20865 non-null int64
pensionfund                      20865 non-null int64
bank                             20865 non-null int64
nan                              20865 non-null int64
developer                        20865 non-null int64
user                             20865 non-null int64
reit                             20865 non-null int64
agency                           20865 non-null int64
credit                           20865 non-null int64
propertylender                   20865 non-null int64
equityfund                       20865 non-null int64
account                          20865 non-null int64
corporateinvestor                20865 non-null int64
specialservicer                  20865 non-null int64
lifeinsurancecompany             20865 non-null int64
sale_date__c_date                16308 non-null float64
sale_date__c_month               16308 non-null float64
sale_date__c_year                16308 non-null float64
Tax                              20865 non-null int64
Ops                              20865 non-null int64
Est Ops                          20865 non-null int64
Est Tax                          20865 non-null int64
Combined Est Tax/Ops             20865 non-null int64
Unit                             20865 non-null int64
sf                               20865 non-null int64
Tax_year                         11933 non-null float64
Combined Est Tax/Ops_year        913 non-null float64
Ops_year                         3053 non-null float64
Est Tax_year                     2497 non-null float64
Est Ops_year                     2634 non-null float64
Combined Tax/Ops                 337 non-null float64
Combined Tax/Ops_year            337 non-null float64
unit                             38 non-null float64
dtypes: float64(22), int16(3), int64(49), int8(6), object(2)
memory usage: 12.6+ MB

In [32]:
df_train.to_csv("Train.csv",index=False)

In [33]:
df_test = pd.read_csv('Dataset/Test_Data.csv')
df_props = pd.read_csv('Properties_Not_sold.csv')
df_accs = pd.read_csv('Accounts_1.csv')

df_acc_test = pd.merge(df_test,df_accs,on="id_accs")

df_acc_test['key'] = 0
df_props['key'] = 0

df_test_final = pd.merge(df_acc_test,df_props,how="outer")

df_test_final.drop('key',axis=1,inplace=True)

df_train["target"] = 1

col_to_cat = ['building_status','city','class','county','sale_status','market','property_type_1','region__c','portfolio']
for col in col_to_cat:
    df_test_final[col] = pd.Categorical(df_test_final[col])
    df_test_final[col] = df_test_final[col].cat.codes

df_test_final.sale_date__c = pd.to_datetime(df_test_final.sale_date__c)

df_test_final["sale_date__c_date"] = df_test_final.sale_date__c.dt.day
df_test_final["sale_date__c_month"] = df_test_final.sale_date__c.dt.month
df_test_final["sale_date__c_year"] = df_test_final.sale_date__c.dt.year

df_test_final.drop("sale_date__c",axis=1,inplace=True)

for i,row in enumerate(df_test_final.iterrows()):
    data_dict = parseBuildingTaxExpenses(row[1].building_tax_expenses,i)
    if data_dict != None:
        for key in data_dict.keys():
            value = data_dict[key]
            df_test_final.at[i,key] = value[0]
            df_test_final.at[i,key+"_year"] = value[1]
            df_test_final.at[i,value[2]] = 1

df_test_final.drop("building_tax_expenses",axis=1,inplace=True)

id_props = df_test_final.id_props

# df_test_final.drop('id_props',axis=1,inplace=True)

df_test_final.to_csv('Test.csv',index=False)